{# <h1>Viikon {{ viikko }} pakkasasteet (laatinut: {{ tekija }}) </h1> 
Ma: {{ pakkasasteet['ma'] }}<sup>o</sup>C <br>
Ti: {{ pakkasasteet['ti'] }}<sup>o</sup>C <br>
Ke: {{ pakkasasteet['ke'] }}<sup>o</sup>C <br>
Ma: {{ pakkasasteet['to'] }}<sup>o</sup>C <br>
Ma: {{ pakkasasteet['pe'] }}<sup>o</sup>C <br>
Ma: {{ pakkasasteet['la'] }}<sup>o</sup>C <br>
Ma: {{ pakkasasteet['su'] }}<sup>o</sup>C <br>
Pakkaspäivät (ka): {{ keskiarvo1}}<sup>o</sup>C <br>
Koko viikko (ka): {{ keskiarvo2}}<sup>o</sup>C <br>
#}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Pakkasasteet</title>
  </head>
  <body>
    <h1>Pakkasasteet</h1>

    <div class="container">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Viikko</th>
      <th scope="col">Ma</th>
      <th scope="col">Ti</th>
      <th scope="col">Ke</th>
      <th scope="col">To</th>
      <th scope="col">Pe</th>
      <th scope="col">La</th>
      <th scope="col">Su</th>
      <th scope="col">Ka(pp)</th>
      <th scope="col">Ka(viikko)</th>
      <th scope="col">Toiminnot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{viikko}}</th>
      <td>{{ pakkasasteet['ma'] }}<sup>o</sup>C</td>
      <td>{{ pakkasasteet['ti'] }}<sup>o</sup>C</td>
      <td>{{ pakkasasteet['ke'] }}<sup>o</sup>C</td>
      <td>{{ pakkasasteet['to'] }}<sup>o</sup>C</td>
      <td>{{ pakkasasteet['pe'] }}<sup>o</sup>C</td>
      <td>{{ pakkasasteet['la'] }}<sup>o</sup>C</td>
      <td>{{ pakkasasteet['su'] }}<sup>o</sup>C</td>
      <td>{{ keskiarvo1}}<sup>o</sup>C</td>
      <td>{{ keskiarvo2}}<sup>o</sup>C</td>
      <td>toiminnot</td>
    </tr>
  </tbody>
</table>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
