<h1>Viikon {{ viikko }} pakkasasteet (laatinut: {{ tekija }}) </h1> 
Ma: {{ pakkasasteet['ma'] }}<sup>o</sup>C <br>
Ti: {{ pakkasasteet['ti'] }}<sup>o</sup>C <br>
Ke: {{ pakkasasteet['ke'] }}<sup>o</sup>C <br>
Ma: {{ pakkasasteet['to'] }}<sup>o</sup>C <br>
Ma: {{ pakkasasteet['pe'] }}<sup>o</sup>C <br>
Ma: {{ pakkasasteet['la'] }}<sup>o</sup>C <br>
Ma: {{ pakkasasteet['su'] }}<sup>o</sup>C <br>
Pakkaspäivät (ka): {{ keskiarvo1}}<sup>o</sup>C <br>
Koko viikko (ka): {{ keskiarvo2}}<sup>o</sup>C <br>
