{% extends 'base.html.twig' %}

{% block body %}
    <div class="container form-signin text-center">
       
            <div class="card" style="width:400px">
            <img class="card-img-top" src="../img/gray-mouse.png" alt="Profiilikuva" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">{{ kuntopisteet.name }} {{ kuntopisteet.surname }}</h4>
                <p class="mt-5 mb-3 text-muted">Date: {{kuntopisteet.postingdate | date('d-m-Y') }}</p>
                <p>jogging {{ kuntopisteet.jogging}} km </p>
                <p>running {{ kuntopisteet.running}} km </p>
                <p>walking {{ kuntopisteet.walking}} km </p>
                <p class="card-text">Your score: {{ score }}</p>
                <h3>
                    {% if score > 100 %}
                        Your are in an exellent shape!
                    {% elseif score > 40 %}
                        Your are in a good shape
                    {% else %}
                        You'd better to exercise more!
                    {% endif %}
                </h3>
                <a href="{{path('exit')}}" class="btn btn-success">Exit</a>
            </div>
        </div>
        
    </div>
{% endblock %}