{% extends 'base.html.twig' %}

{% block title %}Linkkilista{% endblock %}

 {% block body %}
 
    <h1>Linkkilistaus</h1>
    <table class="table table-hover">
        <thead>
            <tr>
            <th>ID</th>
            <th>Linkki</th>
            <th>Otsikko</th>
            <th>Avainsana</th>
            <th>Kuvaus</th>
            <th>Toiminnot</th>
            </tr>
        </thead>
        <tbody>
            {% for linkki in linkit %}
                <tr>
                <th>{{ linkki.id }}</th>
                <td>{{ linkki.linkki }}</td>
                <td>{{ linkki.otsikko }}</td>
                <td>{{ linkki.avainsana }}</td>
                <td>{{ linkki.kuvaus }}</td>
                <td>
                    <a href="#" class="btn btn-dark">Näytä</a>
                    <a href="#" class="btn btn-success">Muokkaa</a>
                    <button class="btn btn-danger">Poista</button>
                </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
 
 {% endblock %}